build/
build_cpp_dir/
_build/
target/
*.exe
*.o
*.obj
*.log
*.pid
*.bak
*.swp
*~
logs/
pids/
.vs/
.env
build_cpp_dir/
.vscode/settings.json
*.user
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
